<div class="module-title">
	<h2>Essays</h2>
	<span class="student-info">{{student.name}}</span>
	<button {{action 'toggleMergedEssays'}}>Show Hidden Essays</button>
</div>

{{view App.StudentEssaysListView}}
