<div class="module-title">
	<h2>Essays</h2>
	<span class="student-info">{{student.name}}</span>
	<button>Show</button>
</div>
{{#if actionRequiredEssays}}
	<h3>Take Action</h3>
	{{view App.StudentEssaysListView}}
{{/if}}
