<div class="details-field">
    <div class="key">Prompt:</div>
    <div class="value app-text">{{essay_prompt}}</div>
</div>

<div class="details-field">
    <div class="key">Audience:</div>
    <div class="value app-text">{{audience}}</div>
</div>

<div class="details-field">
    <div class="key">Context:</div>
    <div class="value app-text">{{context}}</div>
</div>

{{#if is_in_progress}}
    {{#if readyToWriteDraft}}
        <button {{action openDraft}}>Write Draft</button>
    {{/if}}
{{/if}}
