<div class="details-field">
    <div class="key">Audience:</div> <div class="value">{{audience}}</div>
</div>
<div class="details-field">
    <div class="key">Audience:</div> <div class="value">{{audience}}</div>
</div>
<div class="details-field">
    <div class="key">Audience:</div> <div class="value">{{audience}}</div>
</div>
