<div class="main-group">
    <div class="main-line">

        <!-- http://stackoverflow.com/questions/13230463/binding-ember-textfield-value-to-another-controllers-property -->

        <!--
        {{view Ember.TextField placeholder="Student's Email" valueBinding="App.studentsController.invitedStudentEmail"}}
        -->
        {{input type="text" placeholder="Student's Email" value=App.studentsController.invitedStudentEmail}}

        <span {{action "inviteStudentCont"}} class="inviteStudent">+</span>

        <!-- onclick="alert('Hit the invitation endpoint!'); return false;"  -->
    </div>
</div>
