<div class="editor-column summary-column">
    <div class="editor-toggles">
        <button class="editor-toggle">Details</button>
        <button class="editor-toggle">Review</button>
    </div>
    <div class="essay-prompt strong">{{essay.essay_prompt}}</div>
</div>

<div class="editor-column text-column">
    <div class="formatting-buttons">B I U</div>
    <textarea
        class="draft-text"
        placeholder="Begin writing here."></textarea>
</div>

<div class="editor-column annotations-column">
</div>
