<div class="editor-column summary-column">
    <div class="editor-toggles">
        <button class="editor-toggle">Details</button>
        <button class="editor-toggle">Review</button>
    </div>
    <div class="essay-prompt strong">{{essay.essay_prompt}}</div>
</div>

<div class="editor-column text-column">
    <div class="toolbar-container">
        <div id="editor-toolbar" class="editor-toolbar"></div>
    </div>
    {{view App.TextEditor valueBinding="formatted_text"}}
</div>

<div class="editor-column annotations-column">
</div>
