.university-item {
	button.remove {
		padding: 0;
		border: none;
		background: none;
		float: right;
		.itemHeaderText();

		&:hover {
			color: #333;
		}
	}
}

.university-application-essay-group .choice-group {
	border: 1px black solid;
	padding: @smallPadding;

	i.icon-check {
		color: @brand-success;
	}

	i.icon-cancel {
		color: @brand-danger;
	}
}
