<div class="main-group">
    <div class="main-line">
        {{view Ember.Select
        content=universities
        selectionBinding="newUniversity"
        optionValuePath="content.id"
        valueBinding="defaultValueOption"
        optionLabelPath="content.name"
        prompt="Select a school"}}
    </div>
</div>

