{{#each annotation in group.annotations}}
	<div {{bind-attr class=":annotation-title annotation.isPositive:tag-positive:tag-negative annotation.isRubric:tag-rubric annotation.isResolved:tag-resolved"}} {{action 'selectAnnotation' annotation}}>{{annotation.tag.name}}</div>
{{/each}}
{{#if selectedAnnotation}}
	{{annotation-detail annotation=selectedAnnotation top=group.top isStudent=isStudent closeAnnotation="closeAnnotation" deleteAnnotation_Detail="deleteAnnotation_GroupContainer"}}
  <!-- NOTE here that the variable deleteAnnotation_Detail is received from the annotation-detail component, 
  the enclosed "" string is the method called on this *parent Container component. 
  Delete_this_commented_example_of_Ember_bubbling="die". -->
{{/if}}
