<div class="form-inline">
  {{#if showDate}}
    {{input type="text" class="date-picker pure-input-1-3"}}
  {{/if}}

  {{#if showTime}}
    {{input type="text" class="time-picker pure-input-1-4"}}
  {{/if}}
</div>
