{{input value=value class="draft_review_input num_revisions"}}
<div class="actions">
	<button class="up" {{action 'increment'}}><i class="icon-up-open"></i></button>
	<button class="down" {{action 'decrement'}}><i class="icon-down-open"></i></button>
</div>
