{% extends "layout.jinja" %}

{% block title %}Writability{% endblock %}

{% block page_css %}
<!-- <link type="text/css" rel="stylesheet" href="/static/src/pages/css/app.css" /> -->
{% endblock%}

{% block content %}
<div id="application-root">
  <div id="splash-page">Wow</div>
</div>
{% endblock %}
