{% extends "layout.jinja" %}

{% block title %}Writability{% endblock %}
{% block page_css %}
<link type="text/css" rel="stylesheet" href="/static/css/pages/landing.css" />
{% endblock%}


{% block content %}

Porcupine


{% endblock %}
