<div id="main-layout" class="layout">
    <section id="list-module" class="module">
        {{outlet list-module}}
    </section>
    <section id="details-module" class="module">
        {{outlet details-module}}
    </section>
</div>
