<section id="todoapp">
  ... additional lines truncated for brevity ...
</section>

<footer id="info">
  <p>Double-click to edit a todo</p>
</footer>

<ul id="todo-list">
  {{#each}}
    <li>
      <input type="checkbox" class="toggle">
      {{id}}
      asd {{word_count}} plp
      asd {{wordCount}} plp
    </li>
  {{/each}}
</ul>
