<header id="header">{{outlet header}}</header>
<div id="layout-container">{{outlet}}</div>
<div id="modal-container">
    <section id="modal-module" class="module">{{outlet modal-module}}</section>
</div>
