{{outlet header}}
<div id="layout-container">{{outlet}}</div>
<div id="register-modal-container">
    <section id="register-modal-module" class="module">{{outlet register-modal-module}}</section>
</div>
