<div id="main-layout" class="layout">
    <section id="left-side" class="outlet">
        {{outlet left-side-outlet}}
    </section>
    <section id="right-side" class="outlet">
        {{outlet right-side-outlet}}
    </section>
</div>
