<div class="panel-title">Essay Settings</div>

<div class="details-field">
    <div class="key">Next Due Date:</div>
    {{essay.content}}
    {{date-time-picker value=essay.due_date showTime=false}}
</div>

<div class="details-field">
    <div class="key">Number of Revisions:</div>
    {{form-number value=essay.num_of_drafts min=0 max=20 isDraftSettingsBox=true}}
</div>

<!-- Settings Button Removed. Inputs should autosave.
<div class="details-field">
	<button {{action 'saveEssay' essay}}>Save Essay</button>
</div>
-->
