<div class="list-style-group">{{id}} +7</div>
<div class="main-group">
    <div class="main-line">Theme</div>
    <div class="sub-line">Category</div>
</div>
<div class="arrow-icon">&gt;</div>
<div class="details-group">
    <div class="next-action">Start Topic</div>
    <div class="draft-due">Draft Due: May 3, 2014</div>
    <div class="essay-due">Essay Due: {{due_date}}</div>
</div>
