{{#if tag}}
	<span class="annotation-create-tag-selected">{{tag.name}} <i class="icon-info"></i></span>

	{{textarea value=comment class="annotation-create-comment"}}

	<button class="annotation-create-button">Tag It</button>
{{else}}
	{{autosuggest-tag data=tags value=tagId}}
{{/if}}
