{{#each annotation in group.annotations}}
	<div {{bind-attr class=":annotation-title annotation.isPositive:tag-positive:tag-negative"}} {{action 'selectAnnotation' annotation}}>{{annotation.tag.name}}</div>
{{/each}}
{{#if selectedAnnotation}}
	{{annotation-detail annotation=selectedAnnotation top=group.top isStudent=isStudent closeAnnotation="closeAnnotation"}}
{{/if}}
