<span class="annotation-details-tag-selected">{{annotation.tag.name}} <i class="icon-info-circled"></i></span>

<p class="annotation-details-comment">{{annotation.comment}}</p>

<button class="annotation-details-button" {{action "saveAnnotation"}}>Tag It</button>
