<span class="annotation-details-tag-selected">{{annotation.tag.name}} <i class="icon-info-circled"></i></span>

<p class="annotation-details-comment">{{annotation.comment}}</p>

<p class="annotation-details-comment">Original: "{{annotation.original}}"</p>

{{#if isStudent}}
	<button class="annotation-details-button" {{action "resolveAnnotation"}}>Resolve</button>
{{/if}}
