<div class="module-title">{{view.title}}</div>
<ol class="list">
{{#each}}
    <li {{action "select"}} {{bind-attr class=":list-item isSelected"}}>
        {{partial view.listItem}}
    </li>
{{/each}}
</ol>
