<div class="module-title">{{view.title}}</div>
<ol class="list" class="scrollable">
{{#each}}
    {{view view.listItem classNameBindings="isSelected" }}
{{/each}}

{{#if view.newItem}}
    {{view view.newItem}}
{{/if}}
</ol>
