<div class="nav-section left-nav">{{view App.LeftNavButton}}</div>
<div class="temp_logout">  
  <a href="/logout">Logout</a>
</div>
<div class="header-title">{{view.title}}</div>
<div class="nav-section right-nav">{{view App.RightNavButton}}</div>
