<div class="nav-section left-nav">{{view App.LeftNavButton text="< Back"}}</div>
<div class="header-title">{{view.title}}</div>
<div class="nav-section right-nav">{{view App.RightNavButton text="Next >"}}</div>
