<div class="module-title">{{view.title}}</div>
<ol class="list">
    <div class="list-section-title">Students</div>
    {{#each item in students}}
        {{view view.listItem classNameBindings="isSelected" }}
    {{/each}}
    <div class="list-section-title">Invitations</div>
    {{#each item in invitations}}
        {{view view.listItem classNameBindings="isSelected" }}
    {{/each}}

{{#if view.newItem}}
    {{view view.newItem}}
{{/if}}
</ol>
