<!doctype html>
<head>

<!-- meta -->
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Writability">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<title>{% block title %}{% endblock %}</title>

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/style/css/main.css" />
{% block page_css %}{% endblock%}
<!-- /styles -->

<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

<!-- TODO: Should Modernizr go here. -->
</head>
<body>
<div id="container"> <!-- for bootstrap -->
{% block content %}{% endblock %}
</div>
</body>

<script src="/static/libs/modernizr/modernizr.js"></script>
<script src="/static/assets/vendors.js"></script>
<script src="/static/libs/ckeditor/ckeditor.js"></script>
<script src="/static/assets/writability.js"></script>

</html>
